SortIncludes: false
ColumnLimit: 80
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
PointerAlignment: Right
ReferenceAlignment: Right
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AlignConsecutiveMacros: AcrossEmptyLines
AlignConsecutiveAssignments: Consecutive
AlignTrailingComments: Always
AlignOperands: Align
AlignArrayOfStructures: Left
AlignEscapedNewlines: Right
AlignAfterOpenBracket: Align
BreakAfterAttributes: Always